.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 4em;
}



/* @media screen and (max-width: 780px) {
        .divisoria {
            width: 100vw;
        }
    } */