.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3em 0 2rem 3rem;
    
    ;
    
    
    

}



/* @media screen and (max-width: 780px) {
        .divisoria {
            width: 100vw;
        }
    } */