:root {
    --azul-muito-escuro: hsl(243, 87%, 12%);
    --azul-dessaturado: hsl(238, 22%, 44%);
    --azul-claro: hsl(224, 93%, 58%);
    --ciano-moderado: hsl(170, 45%, 43%);
    --azul-acinzentado-claro: hsl(240, 75%, 98%);
    --cinza-claro: hsl(0, 0%, 75%);
}

